<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
<header class="l-header" th:fragment="appHeader(activePage)">
    <div class="l-header-container">
        <div class="m-header-logo">
            <img th:src="@{/assets/favicon.ico}" alt="Логотип МИС" class="m-header-logo__img">
            <h1>Медицинская CRM система</h1>
        </div>
        <nav>
            <ul class="m-nav-menu" th:insert="~{fragments/menu :: mainMenu(${activePage})}"></ul>
        </nav>
        <div th:replace="~{fragments/session :: sessionInfo()}"></div>
    </div>
</header>
</body>
</html>
